.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
    /*block level grid*/
  display: grid;  
    /*define column widths explicitly or relatively*/
  grid-template-columns: 100px 10% 10% 20px 50%;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}